@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  padding-bottom: 3rem;
}
:root {
  --red: #cb202d;
  --yellow: #ffc300;
  --orange: #ff5733;
  --teal: #00a36c;
}
p {
  font-size: 12px;
}

.appheadpart {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.appsearchcont input {
  border-radius: 20px;
  background-color: var(--teal);
  border: none;
  padding: 0.3rem;
}
.appsearchcont input::placeholder {
  color: white;
  text-align: center;
}
.modal-sidebar {
  width: 70vw;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--teal);
  border-left: 2px solid rgba(255, 255, 255, 0);
}
.modal-sidebar p{
  font-size: 14px;
}

/* categories scrolling */
.categorycont {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 0.4rem;
  padding-left: 0.2rem;
}
.category-item {
  display: inline-block;
  margin-right: 0.3rem;
  margin-top: 0.2rem;
}
.category-item button {
  border: 1px solid lightgrey;
  border-radius: 20px;
}
.category-item button:hover {
  background-color: rgb(221, 255, 255);
}
.category-item .badge {
  background-color: lightgrey;
  color: rgb(49, 49, 49);
  font-size: 8px;
}

/* tasks */
.taskscont {
  padding: 0.3rem;
}
.task-item {
  display: flex;
  width: 100%;
  padding: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 2px 2px 6px rgb(209, 209, 209);
  border-radius: 9px;
}
.taskitem-part1 {
  width: 10%;
  padding-top: 0.3rem;
}
.taskitem-part2 {
  width: 65%;
}
.taskitem-part3 {
  width: 25%;
  text-align: right;
}
.dot {
  border-radius: 50%;
  font-size: 9px;
  height: 14px;
  width: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dot1 {
  background-color: var(--red);
  color: white;
}
#dot2 {
  background-color: var(--orange);
  color: white;
}
#dot3 {
  background-color: var(--yellow);
  color: black;
}
.taskitem-part2 h6 {
  font-size: 14px;
}
.taskitem-part3 p {
  font-size: 9px;
}
.taskitem-part2 h6 {
  font-weight: 550;
}

/* addtask */
.addtaskcont {
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.addtaskcont button {
  width: 100%;
  background-color: var(--teal);
  color: white;
  border-radius: 20px;
}
.modal-addtask {
  height: 90vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--teal);
  color: white;
  border-top: 2px solid rgba(255, 255, 255, 0);
}
.line {
  border: 2px solid white;
  border-radius: 20px;
  width: 20px;
  margin: auto;
  margin-top: 0.9rem;
  margin-bottom: 0.8rem;
}
.addtask-form {
  margin-bottom: 1rem;
}
.addtask-form input {
  background-color: var(--teal);
  border: none;
}
.addtask-form input:focus {
  background-color: var(--teal);
  border: none;
}
.addtask-form input::placeholder {
  color: white;
  text-align: center;
}
.addtask-priority {
  margin-top: 1rem;
}
.addcategory {
  display: flex;
  flex-wrap: wrap;
}
.addcategory button {
  margin-top: 0.9rem;
  margin-right: 0.9rem;
}
.addtaskbutton{
  text-align: right;
}
.addtaskbutton button{
  background-color: var(--red);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}